# Build directories
build*/
video/
saved_img/
runs/
YOLO__model_test/
backup
# CMake configuration
CMakeLists.txt
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake

# VSCode configuration
.vscode/

# source files
resource/

# Other files
build_and_run.bat

!backup/*
